


.contact {

    font-family: 'cormorant';
    font-size: 80px;

    width: 333px;
    height: 333px;
    margin-left: 33px;
    margin-right: auto;
    padding-top: 10px;
    margin-top: 50px;




    &__header {
        
        



    }

    &__button {
        height: 79px;
width: 272px;
margin-right: 29px;
margin-left: auto;
    }
    
}