.footer {
  height: 114px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  min-height: 20vh;
  display: flex;
   justify-content: center;
  align-items: center;

  &__images {
    margin: 0 10px;
  }


}


@media screen and (min-width: 1024px){

  .footer {

  width: 100%;


}
}