//removing the nav for mobile version

.header {
  width: 200px;
  height: 29px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;

  &__nav {
    display: none;
  }

  &__name {
    font-family: "Cormorant";
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    &__nav {
      margin-top: 1vh;
      display: block;
      text-decoration: none;
      color: black;

      li {
        display: inline;
        margin: 32px;
        &:hover {
          transition: font-size 0.3s;
          
        }

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
