@import url("https://fonts.googleapis.com/css2?family=Cormorant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.header {
  width: 200px;
  height: 29px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: auto;
}
.header__nav {
  display: none;
}
.header__name {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .header {
    width: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .header__nav {
    margin-top: 1vh;
    display: block;
    text-decoration: none;
    color: black;
  }
  .header__nav li {
    display: inline;
    margin: 32px;
  }
  .header__nav li:hover {
    transition: font-size 0.3s;
  }
  .header__nav li a {
    text-decoration: none;
    color: black;
  }
}
.title {
  width: 344px;
  height: 542px;
  margin-left: 5vh;
  margin-right: auto;
  margin-top: 137px;
}
.title__header {
  font-family: "cormorant";
  width: 344px;
  height: 288px;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  font-weight: 400;
  line-height: 96px;
}
.title__p {
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 26.6px;
}

@media screen and (min-width: 1024px) {
  .title {
    width: 100%;
    height: 50vh;
    margin-left: 15vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
  }
  .title__header {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 100%;
    height: 10%;
  }
  .title__p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 25%;
  }
}
.about {
  width: 329.46px;
  height: 900px;
  margin-left: 10vw;
  margin-right: auto;
  margin-top: 80px;
}
.about__header {
  font-family: "cormorant";
  font-weight: 700px;
  font-size: 32px;
  line-height: 51.2px;
}
.about__img {
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: 50px;
}
.about__p {
  margin-top: 80px;
  width: 329.46px;
  height: 546px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
}

@media screen and (min-width: 1024px) {
  .about {
    width: unset;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    height: 60vh;
    margin-left: 25vh;
  }
  .about__header {
    grid-row: 1/2;
    grid-column: 1/2;
    width: unset;
  }
  .about__img {
    grid-row: 1/3;
    grid-column: 2/3;
    margin-right: 40px;
    width: 100%;
    height: 30vh;
    margin-top: 50px;
    margin-right: 15vw;
  }
  .about__p {
    grid-row: 1/3;
    grid-column: 1/2;
    width: 500px;
  }
}
.skills {
  display: none;
}

@media screen and (min-width: 1024px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-family: "cormorant";
    width: 90%;
    min-height: 60vh;
  }
  .skills__header {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 2em;
    margin-left: 25vh;
  }
  .skills__p {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .skills__img {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    margin-left: 8vw;
    margin-right: auto;
  }
}
#portfolio4 {
  display: none;
}

#portfolio5 {
  display: none;
}

#portfolio6 {
  display: none;
}

.portfolio {
  width: 100%;
  height: 1500px;
  margin-top: 20px;
  margin-left: 10vw;
  margin-right: auto;
}
.portfolio__header {
  font-family: "cormorant";
  font-weight: 700;
  font-size: 2em;
  line-height: 50px;
  width: 180px;
  height: 20px;
}
.portfolio__project {
  width: 325px;
  height: 328px;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
}
.portfolio__project-image {
  width: 322px;
  height: 256px;
  margin-left: 0px;
  margin-right: auto;
  grid-row: 1/2;
  grid-column: 1/4;
}
.portfolio__project-header {
  width: 200px;
  height: 51px;
  margin-left: 0px;
  margin-right: auto;
  font-family: "cormorant";
  font-weight: 400;
  font-size: 32px;
  line-height: 51.2px;
  grid-row: 2/3;
  grid-column: 1/2;
}
.portfolio__project-button--eye {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  grid-row: 2/3;
  grid-column: 2/3;
}
.portfolio__project-button--eye:hover {
  transform: scale(1.2);
}
.portfolio__project-button--look {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  grid-row: 2/3;
  grid-column: 3/4;
}
.portfolio__project-button--look:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1024px) {
  #portfolio4 {
    display: grid;
  }
  #portfolio5 {
    display: grid;
  }
  #portfolio6 {
    display: grid;
  }
  .portfolio {
    display: grid;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
  }
  .portfolio__header {
    grid-row: 1/2;
    grid-column: 1/4;
    margin-left: 5vh;
  }
}
.contact {
  font-family: "cormorant";
  font-size: 80px;
  width: 100%;
  height: 50px;
  min-height: 80vh;
  margin-left: 10px auto;
  padding-top: 10px;
  margin-top: 10px;
  text-align: center;
}
.contact__button {
  height: 79px;
  width: 272px;
  background-color: white;
  font-size: 25px;
}

@media screen and (min-width: 1024px) {
  .contact {
    min-height: 60vh;
    width: 100%;
  }
}
.footer {
  height: 114px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: black;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__images {
  margin: 0 10px;
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 100%;
  }
}
body {
  overflow-x: hidden;
}/*# sourceMappingURL=main.css.map */